<div *ngIf="persona; else error">
  <div class="detail-card">
    <img [src]="getPersonImage()" (error)="setDefaultImage($event)" width="180" height="180" class="avatar-lg">
    <h2>{{ persona.name }}</h2>
    <ul>
      <li><strong>Altura:</strong> {{ persona.height }} cm</li>
      <li><strong>Peso:</strong> {{ persona.mass }} kg</li>
      <li><strong>Color de pelo:</strong> {{ persona.hair_color }}</li>
      <li><strong>Color de piel:</strong> {{ persona.skin_color }}</li>
      <li><strong>Color de ojos:</strong> {{ persona.eye_color }}</li>
      <li><strong>Año de nacimiento:</strong> {{ persona.birth_year }}</li>
      <li><strong>Género:</strong> {{ persona.gender }}</li>
      <div style="margin-bottom: 1rem;">
        <button (click)="volverAtras()" style="width: 75%;">⬅ Volver</button>
      </div>
    </ul>
  </div>
</div>
<ng-template #error>
  <div class="error"></div>
</ng-template>
