<div class="home-container">
  <h1>Bienvenido a StarWars App</h1>
  <div class="cards-grid">
    <div class="home-card persona" (click)="irA('/personas')">
      <img src="assets/img/stormtrooper.jpg" alt="Personas" width="160">
      <span>Personas</span>
    </div>
    <div class="home-card planeta" (click)="irA('/planetas')">
      <img src="assets/img/planeta.jpg" alt="Planetas" width="100">
      <span>Planetas</span>
    </div>
    <div class="home-card nave" (click)="irA('/naves')">
      <img src="assets/img/nave.jpg" alt="Naves" width="160">
      <span>Naves</span>
    </div>
  </div>
</div>
