<div *ngIf="planeta; else error">
  <div class="detail-card">
    <img [src]="getPlanetImage()" (error)="setDefaultImage($event)" width="180" height="180" class="avatar-lg">
    <h2>{{ planeta.name }}</h2>
    <ul>
      <li><strong>Clima:</strong> {{ planeta.climate }}</li>
      <li><strong>Gravedad:</strong> {{ planeta.gravity }}</li>
      <li><strong>Población:</strong> {{ planeta.population }}</li>
      <li><strong>Terreno:</strong> {{ planeta.terrain }}</li>
      <li><strong>Diámetro:</strong> {{ planeta.diameter }}</li>
      <div style="margin-bottom: 1rem;">
        <button (click)="volverAtras()" style="width: 75%;">⬅ Volver</button>
      </div>
    </ul>
  </div>
</div>
<ng-template #error>
  <div class="error"></div>
</ng-template>
